.catSubModel {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: cornflowerblue;
  font-weight: bold;
}

.whole {
  font-size: medium;
}

.TbodyTitile {
  border: 20px;
}
.TableTbody {
  margin: 0px auto;
}

.Gray {
  background-color: silver;
  border-color: silver;
}

table {
  border: 3px solid gray;
  width: auto;
}

img {
  width: 100px;
  height: 20px;
}

td {
  width: 300px;
}
