img {
  height: 100px;
  width: 100px;
}

.catSubcategory {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: cornflowerblue;
  font-weight: bold;
  display: table;
}

.CompareButton {
  background-color: dodgerblue;
  color: white;
  float: right;
  border-color: transparent;
}

.Filter {
  border: 4px solid gainsboro;
  background-color: white;
  width: 300px;
  display: inline-block;
  height: 425px;
}

.FilterDiv {
  background-color: gainsboro;
  border: 2px solid gray;
}

.InputModelYear {
  width: 30px;
}
/* 
.FilterTable {
  height: 427px;
}

.FilterTbody {
  border: 3px sold orchid;
}

.FilterTbodyTr {
  background-color: gainsboro;
}

.FilterTbodyTd {
  background-color: aqua;
} */
